<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
        
        	<h3> Edit Dealership Info </h3>
        	
        	{{jsonvar}}
        	
        	
        	<form style ="border:1px solid black;width: 250px; height: 500px;" action="/editDealerInfo" method= "post">
        		
	          	Name: <br/>
                <input type="text" name = "name"/>
                <br/>
	          	
	            <br/>
	            <input type = "submit" value = "Edit" />
	        </form>
	        
	        <form action="/main">
                <input type="submit" value="Back">
            </form>
        
             <form action="/logout">
                <input type="submit" value="Logout">
            </form>
        
        </div>
    </body>
</html>